/* gif as a background image, and reduce opacity of entire page to highlight background more */
body {
    background-image: url("../images/background.jpg");
    background-color: black;
    background-position: 50% 0%; 
    background-repeat: no-repeat;
    /* background-size: contain; */
    opacity: .9;
}


/* header font and background (opacity set to .8) */
header {
    font-family: 'Acme', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

/* used for crystal text, but not harmful to the rest of the page */
.container {
    position: relative;
    text-align: center;
}

/* center the text in the middle of the image */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* sets font and translucent background for messages to the player */
#player-message {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    position: relative;
}

/* background and font for the score card */
.score-card {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    line-height: 25px;
}

/* make the reset/give up button fit the rest of the page in terms of color scheme */
#reset-button {
    font-family: 'Acme', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
}